body {
	font-family: 'Open Sans', sans-serif;
}

.panels-flexible-region-1-center,
.panels-flexible-region-2-center {
	width: 100%;
}

.panels-flexible-1 .panels-flexible-row.header {

	margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 9px #555555;
  font-size: 13px;
  background-color: #16aff3;
  border-color: #e7e7e7;
  z-index: 500;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  border-width: 0 0 1px;

  .header__logo-image {
  	width: 130px;
  	margin: 10px;
  }

  .header__name-and-slogan {
    float: left;
    padding: 36px 0 0 14px;
  }

  .header__site-name {
  	font-size: 2.5em;
  	text-transform: uppercase;
  }

  h2.header__site-slogan {
  	font-size: 1.2em;
  	line-height: 1em;
  	color: #fff;
  }
}

.pane-product-list-panel-pane-1 {
	background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 18px #CCCCCC;
  padding: 9px 18px 30px;
  max-width: 1170px;
 	margin: 130px auto;
 }

.view-product-list {
	padding-top: 50px;
  .views-row {
    float: left;
    width: 32%;
    height: 300px;
    padding: 30px;
    border: 1px solid transparent;
	  border-radius: 10px;

    .views-field-title {
    	font-size: 20px;
    }

    .views-field-field-image {
    	float: left;
    	margin-right: -18px;

    	img {
    		margin-left: -20px;
    	}
    }

    .views-field-commerce-price {
    	font-size:14px;
    }

    .views-field-commerce-price::before {
    	  content: "";
    	  display: block;
      	border-top: 1px solid #CCCCCC;
        padding-top: 3px;
        margin: 5px 0 0 157px;
        width:100px;
    }

    .form-submit,
    .commerce-quantity-plusminus-link a {
	    display: inline-block;
	    padding: 6px 12px;
	    margin-bottom: 0;
	    font-size: 14px;
	    font-weight: normal;
	    line-height: 1.428571429;
	    text-align: center;
	    vertical-align: middle;
	    cursor: pointer;
	    border: 1px solid transparent;
	    border-radius: 4px;
	    white-space: nowrap;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	    color: #fff;
    	background-color: #5cb85c;
    	border-color: #4cae4c;
    	font-size: 18px;
    	margin-top: -10px;
    	padding: 2px 9px;
    	-webkit-appearance: none;
		}

		input[name="quantity"] {
			border: 1px solid transparent;
	    border-radius: 4px;
	    border-color: #aaa;
	    -webkit-box-shadow:inset 0 0 10px #ccc;
      -moz-box-shadow:inset 0 0 10px #ccc;
      box-shadow:inset 0 0 10px #ccc;
    	background: transparent;
		}

		.form-item-quantity {
			margin: 1em 0;
			
			label {
				display: none;
			}
		}

		.commerce-quantity-plusminus-link a {
      width: 20px;
	    height: 20px;
	    margin-top: -2px;
	    padding: 0px;
	    line-height: 19px;
		}

		.commerce-quantity-plusminus-link-decrease a {
			line-height: 14px;
			margin-right: 9px;

		}

		.commerce-quantity-plusminus-link-increase a {
			margin-left: 9px;
		}

		.form-submit:hover,
		.commerce-quantity-plusminus-link a:hover {
		  color: #fff;
	    background-color: #47a447;
	    border-color: #398439;
		}
	}

	.views-row {
		.commerce-add-to-cart {
			display: none;
		}
	}

	.views-row:hover {
		background: #FFFFFF;
    box-shadow: 0 0 50px #CCCCCC;
    z-index: 10;

    .commerce-add-to-cart {
			display: block;
		}
    
	}

	.views-exposed-form {
		width: 790px;
		margin: 0 auto;
		.views-exposed-widget {
			input, .form-select {
				display: inline-block;
		    padding: 6px 12px;
		    margin-bottom: 0;
		    font-size: 14px;
		    font-weight: normal;
		    line-height: 1.428571429;
		    text-align: center;
		    vertical-align: middle;
		    cursor: pointer;
		    border: 1px solid transparent;
		    border-radius: 4px;
		    white-space: nowrap;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    -o-user-select: none;
		    user-select: none;
		    color: #fff;
	    	background-color: #5cb85c;
	    	border-color: #4cae4c;
	    	font-size: 18px;
	    	margin-top: -10px;
	    	padding: 2px 9px;

			}

			.form-submit:hover {
				color: #fff;
	      background-color: #47a447;
	      border-color: #398439;
			}

			.form-text {
				background: #fff;
				-webkit-box-shadow: inset 0 0 10px #ccc;
    		-moz-box-shadow: inset 0 0 10px #ccc;
    		box-shadow: inset 0 0 10px #ccc;
				border: 1px solid #ccc;
				color: #333;
			}
		}

	}
}

#views_slideshow_cycle_teaser_section_slideshow-panel_pane_1_1,
.views-slideshow-cycle-main-frame-row {
	width: 100% !important;
}

.view-slideshow {
	.views-field-title {

		top: -80px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 200;
    position: relative;
    text-align: right;
    padding-right: 30px;
    font-size: 2em;
    display: inline-block;

    a {
    	text-decoration: none;
    	color: #fff;
    }
	}

	.views-slideshow-controls-bottom {
		margin-top: -200px;
		z-index: 100;
    position: relative;

    #views_slideshow_controls_text_previous_slideshow-panel_pane_1_1 a {
    	background: url(../images-source/prev_next.png);
    	background-size: 200%;
    	display: block;
    	width: 60px;
    	height: 60px;
    	text-indent: -9999px;
    	float: right;
    	margin-right: 10px;
    }

    #views_slideshow_controls_text_next_slideshow-panel_pane_1_1 a {
    	background: url(../images-source/prev_next.png);
    	background-size: 200%;
    	display: block;
    	width: 60px;
    	height: 60px;
    	text-indent: -9999px;
    	float: left;
    	background-position: -100%;
    	margin-left: 10px;
    }

    #views_slideshow_controls_text_pause_slideshow-panel_pane_1_1 {
    	display: none;
    }
	}
}
