/* line 1, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 6, ../sass/style.scss */
.admin-menu .header {
  padding-top: 70px;
}
/* line 9, ../sass/style.scss */
.admin-menu .panel-flexible {
  padding-top: 140px;
}

/* line 14, ../sass/style.scss */
.pane-locale-language {
  float: right;
}
/* line 16, ../sass/style.scss */
.pane-locale-language ul {
  list-style-type: none;
}
/* line 19, ../sass/style.scss */
.pane-locale-language a {
  color: #fff;
  text-decoration: none;
}

/* line 25, ../sass/style.scss */
.panels-flexible-1
.panels-flexible-row-1-main-row {
  padding-top: 235px;
}

/* line 30, ../sass/style.scss */
.panels-flexible-region-1-center,
.panels-flexible-region-2-center {
  width: 100%;
}

/* line 35, ../sass/style.scss */
.panels-flexible-1 .panels-flexible-row.header {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 9px #555555;
  font-size: 13px;
  background-color: #16aff3;
  border-color: #e7e7e7;
  z-index: 500;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  border-width: 0 0 1px;
}
/* line 52, ../sass/style.scss */
.panels-flexible-1 .panels-flexible-row.header .header__logo-image {
  width: 130px;
  margin: 10px;
}
/* line 57, ../sass/style.scss */
.panels-flexible-1 .panels-flexible-row.header .header__name-and-slogan {
  float: left;
  padding: 36px 0 0 14px;
}
/* line 62, ../sass/style.scss */
.panels-flexible-1 .panels-flexible-row.header .header__site-name {
  font-size: 2.5em;
  text-transform: uppercase;
}
/* line 67, ../sass/style.scss */
.panels-flexible-1 .panels-flexible-row.header h2.header__site-slogan {
  font-size: 1.2em;
  line-height: 1em;
  color: #fff;
}
/* line 73, ../sass/style.scss */
.panels-flexible-1 .panels-flexible-row.header .pane-system-user-menu {
  clear: both;
}
/* line 75, ../sass/style.scss */
.panels-flexible-1 .panels-flexible-row.header .pane-system-user-menu a {
  color: #fff;
  text-decoration: none;
}

/* line 82, ../sass/style.scss */
.pane-product-list-panel-pane-1 {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 18px #CCCCCC;
  padding: 9px 18px 30px;
  max-width: 1170px;
  margin: 130px auto;
}

/* line 90, ../sass/style.scss */
.view-product-list {
  padding-top: 50px;
}
/* line 92, ../sass/style.scss */
.view-product-list .views-row {
  float: left;
  width: 32%;
  height: 300px;
  padding: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
}
/* line 100, ../sass/style.scss */
.view-product-list .views-row .views-field-title {
  font-size: 20px;
}
/* line 104, ../sass/style.scss */
.view-product-list .views-row .views-field-field-image {
  float: left;
  margin-right: -18px;
}
/* line 108, ../sass/style.scss */
.view-product-list .views-row .views-field-field-image img {
  margin-left: -20px;
}
/* line 113, ../sass/style.scss */
.view-product-list .views-row .views-field-commerce-price {
  font-size: 14px;
}
/* line 117, ../sass/style.scss */
.view-product-list .views-row .views-field-commerce-price::before {
  content: "";
  display: block;
  border-top: 1px solid #CCCCCC;
  padding-top: 3px;
  margin: 5px 0 0 157px;
  width: 100px;
}
/* line 126, ../sass/style.scss */
.view-product-list .views-row .form-submit,
.view-product-list .views-row .commerce-quantity-plusminus-link a {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  font-size: 18px;
  margin-top: -10px;
  padding: 2px 9px;
  -webkit-appearance: none;
}
/* line 154, ../sass/style.scss */
.view-product-list .views-row input[name="quantity"] {
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #aaa;
  -webkit-box-shadow: inset 0 0 10px #ccc;
  -moz-box-shadow: inset 0 0 10px #ccc;
  box-shadow: inset 0 0 10px #ccc;
  background: transparent;
}
/* line 164, ../sass/style.scss */
.view-product-list .views-row .form-item-quantity {
  margin: 1em 0;
}
/* line 167, ../sass/style.scss */
.view-product-list .views-row .form-item-quantity label {
  display: none;
}
/* line 172, ../sass/style.scss */
.view-product-list .views-row .commerce-quantity-plusminus-link a {
  width: 20px;
  height: 20px;
  margin-top: -2px;
  padding: 0px;
  line-height: 19px;
}
/* line 180, ../sass/style.scss */
.view-product-list .views-row .commerce-quantity-plusminus-link-decrease a {
  line-height: 14px;
  margin-right: 9px;
}
/* line 186, ../sass/style.scss */
.view-product-list .views-row .commerce-quantity-plusminus-link-increase a {
  margin-left: 9px;
}
/* line 190, ../sass/style.scss */
.view-product-list .views-row .form-submit:hover,
.view-product-list .views-row .commerce-quantity-plusminus-link a:hover {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}
/* line 199, ../sass/style.scss */
.view-product-list .views-row .commerce-add-to-cart {
  display: none;
}
/* line 204, ../sass/style.scss */
.view-product-list .views-row:hover {
  background: #FFFFFF;
  box-shadow: 0 0 50px #CCCCCC;
  z-index: 10;
}
/* line 209, ../sass/style.scss */
.view-product-list .views-row:hover .commerce-add-to-cart {
  display: block;
}
/* line 215, ../sass/style.scss */
.view-product-list .views-exposed-form {
  width: 790px;
  margin: 0 auto;
}
/* line 219, ../sass/style.scss */
.view-product-list .views-exposed-form .views-exposed-widget input, .view-product-list .views-exposed-form .views-exposed-widget .form-select {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  font-size: 18px;
  margin-top: -10px;
  padding: 2px 9px;
}
/* line 246, ../sass/style.scss */
.view-product-list .views-exposed-form .views-exposed-widget .form-submit:hover {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}
/* line 252, ../sass/style.scss */
.view-product-list .views-exposed-form .views-exposed-widget .form-text {
  background: #fff;
  -webkit-box-shadow: inset 0 0 10px #ccc;
  -moz-box-shadow: inset 0 0 10px #ccc;
  box-shadow: inset 0 0 10px #ccc;
  border: 1px solid #ccc;
  color: #333;
}

/* line 265, ../sass/style.scss */
#views_slideshow_cycle_teaser_section_slideshow-panel_pane_1_1,
.views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}

/* line 271, ../sass/style.scss */
.view-slideshow .views-field-title {
  top: -80px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 200;
  position: relative;
  text-align: right;
  padding-right: 30px;
  font-size: 2em;
  display: inline-block;
}
/* line 283, ../sass/style.scss */
.view-slideshow .views-field-title a {
  text-decoration: none;
  color: #fff;
}
/* line 289, ../sass/style.scss */
.view-slideshow .views-slideshow-controls-bottom {
  margin-top: -200px;
  z-index: 100;
  position: relative;
}
/* line 294, ../sass/style.scss */
.view-slideshow .views-slideshow-controls-bottom #views_slideshow_controls_text_previous_slideshow-panel_pane_1_1 a {
  background: url(../images-source/prev_next.png);
  background-size: 200%;
  display: block;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  float: right;
  margin-right: 10px;
}
/* line 305, ../sass/style.scss */
.view-slideshow .views-slideshow-controls-bottom #views_slideshow_controls_text_next_slideshow-panel_pane_1_1 a {
  background: url(../images-source/prev_next.png);
  background-size: 200%;
  display: block;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  float: left;
  background-position: -100%;
  margin-left: 10px;
}
/* line 317, ../sass/style.scss */
.view-slideshow .views-slideshow-controls-bottom #views_slideshow_controls_text_pause_slideshow-panel_pane_1_1 {
  display: none;
}
